@import 'base';
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
/*
Theme Name: wp-angular
Theme URI: http://underscores.me/
Author: tukoski
Author URI: http://underscores.me/
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: wp-sigma
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

wp-sigma is based on Underscores http://underscores.me/, (C) 2012-2015 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/
/** ----------------------------------------------------------------------------
** Reset css
-----------------------------------------------------------------------------**/
button {
    background: none;
    border: 0;
    color: inherit;
    /* cursor: default; */
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-appearance: button; /* for input */
    -webkit-user-select: none; /* for button */
    -moz-user-select: none;
    -ms-user-select: none;
}

textArea{
    resize: none;
}
/** ----------------------------------------------------------------------------
** Generales
-----------------------------------------------------------------------------**/
.login-box {
    width: 40%;
    background: #E0E0E0;
    padding: 10px;
    height: 500px;
    margin: 150px auto auto auto;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 300;
    
    @media (min-width: 500px) {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

.modalOuter {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
    z-index: 300;
  }
  
  .modalContent {
    background-color: white;
    width: auto;
    /*height: 99%;*/
    overflow-y: auto;
    position: relative;
    z-index: 301;
    text-align: left;
  }
  
  .modalClose {
    position: absolute;
    right: 15px;
    top: 15px;
  
    &.material-icons {
      font-size: 48px;
      color: white;
    }
  }
  
.login-box2 {
    width: 80%;
    padding: 10px;
    height: 400px;
    margin: 90px auto auto auto;
}

.center{
    display: block;
    margin: auto;
    text-align: center;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
}

input{
    margin-bottom: 15px;
}
div .input-group{
    padding-bottom: 20px;
    margin: 0 20px;
}

div label{
    margin: 0 20px;
}