@import 'base';

/*
Theme Name: wp-angular
Theme URI: http://underscores.me/
Author: tukoski
Author URI: http://underscores.me/
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: wp-sigma
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

wp-sigma is based on Underscores http://underscores.me/, (C) 2012-2015 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/
/** ----------------------------------------------------------------------------
** Reset css
-----------------------------------------------------------------------------**/
button {
    background: none;
    border: 0;
    color: inherit;
    /* cursor: default; */
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-appearance: button; /* for input */
    -webkit-user-select: none; /* for button */
    -moz-user-select: none;
    -ms-user-select: none;
}

textArea{
    resize: none;
}
/** ----------------------------------------------------------------------------
** Generales
-----------------------------------------------------------------------------**/
body{
    background-color: #ffffff;
}

#page .form-control {
    background-color: RGBA(255, 255, 255, 0.59);
}

#legend {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

#sub {
    width: 100%;
    text-align: center;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.item-img{
    height: 100%;
    width: 500px;
    margin-right: 10px;
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 3px 3px 10px #8B8B8B;
}
.item-img:hover {
    background-color: #D8D8D8;
}
.item-img img {
    width: 100%;
    margin-top: 10px;
    height: calc(100% - 50px);
}

.row-img{
    width: 98%;
    height: 500px;
}

.footer-img{
    height: 20px;
    text-align: center;
}
.header{
    width: 100%;
}

.header img{
    width: 100%;
    height: 400px;
    margin-bottom: 50px;
}
/*
* Header style
*/
#logo-container{
    font-size: 10px;
    line-height: 1px;
    color: white;
    cursor: pointer;
}
#logo-container label{
    margin-left: 0px;
}

/******************************************************************
*/
a{  
    cursor: pointer;
    color: #0c1c8c ;
}

a:hover{
    color: gray;
}

footer{
    position: fixed;
    bottom: 0px;
    padding: 10px;
    width: 100%;
    text-align: center;
}

footer a{
    color: white;
}

footer a:hover{
    color: #337AB7;
}

footer a:focus{
    color: white;
}

.col-xs-7, .col-xs-3, .col-xs-2{
    padding: 0px !important;
}

#tab-social .nav-tabs{
    background-color: #E8E8E8;
    height: 44px;
    text-align: center;
    border-radius: 0px;
    color: #0c1c8c ;
    position: fixed;
    width: 100%;
    z-index: 1030;
}

.nav-tabs .active > a{
    color: #0c1c8c  !important;
    height: 44px;
}

.alert {
    position: absolute;
    z-index: 1052;
    right: 8px;
    bottom: 60px;
    font-size: 13px;
}

.popover{
    width: 195px;
    text-align: center;
    background-color: #E8E8E8;
}

.popover-title{
    background-color: #0c1c8c ;
    color: white;
}

.posts-nav-link{
    text-align: center;
    margin-top: 20px;
}
/** ----------------------------------------------------------------------------
** Bases
-----------------------------------------------------------------------------**/
.no-border{border: none;}
.text-bold-content span{font-weight: bold;}
.no-margin{margin: 0px !important}
.no-padding{padding:  0px !important;}
.red{color: red !important;}
.aling-center{text-align: center;}
.aling-right{text-align: right}
.white{color:  white}
/** ----------------------------------------------------------------------------
** Navigator
-----------------------------------------------------------------------------**/
.navbar-default, footer{
    background-color: #0c1c8c ;
    background-image: none;
    border-radius: 0px;
    border: none;
    color: white;
    margin: 0px;
}

.navbar-default .form-group{
    padding: 0px 3px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}


#logout-trigger{
    color: white;
    border: 1px dotted white;
}

#logout-trigger:hover{
    background-color: #337AB7;
}

.panel-default .dropdown-menu {
    right: 0;
    left: inherit;
}
/** ----------------------------------------------------------------------------
** Sidebars & Toolsbar
-----------------------------------------------------------------------------**/
.sidebar {
    position: fixed;
    top: 50px;
    bottom: 0px;
    //z-index: 100;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #E0E0E0;
    margin-bottom: 70px;
}

.sidebar.sidebar-left{
    left: 0px;
    border-right: 1px solid #AAA;
    overflow: hidden;
}

.sidebar.sidebar-right{
    right: 0px;
    border-left: 1px solid #AAA;
}

.sidebar .panel{
    height: 50%;
    margin-bottom: 0px;
    background: #E0E0E0;    
    overflow-x: hidden;
    overflow-y: scroll;
}

.sidebar .panel-group{
    text-align: center;
}

.sidebar .panel-group ul{
    text-align: justify;
}

.sidebar .panel-heading{
    height: 44px;   
    text-align: center;    
    border-radius: 0px;
    color: #0c1c8c ;
    position: fixed;
    width: 15%;
    z-index: 1;
}

.sidebar .panel-body{
    margin-top: 32px;
}

.sidebar .panel-body ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.sidebar .panel-body ul li{
    padding: 10px 5px;
}

.sidebar .panel-body ul li:hover{        
    background-color: #E8E8E8;
}

.sidebar .panel-body ul li a:hover{
    color: #0c1c8c ;
}

.sidebar .panel-body ul li a p{
    margin: 0px;
}

.nologin{
    padding-top: 40%;
}

.nologin span{
    font-size: 30px;
    color: #0c1c8c ;
}

.tools-bar{
    max-height: 45px;
    /*background-color: #DBDBDB;*/
    padding: 5px 0px;
    margin-bottom: 10px;
    border-radius: 0px;
    position: fixed;
    width: 57%;
    z-index: 1000;
}

.sidebar .panel, .panel-default, .sidebar {    
    background: transparent;
}

.alert-home a p, .sidebar-left ul li a, .uib-tab, .reference-list .reference-list-item, .dropdown-menu{
    cursor: pointer;
}

.sidebar-left ul li a:hover{
    text-decoration: none;
}
/** ----------------------------------------------------------------------------
** Forms
-----------------------------------------------------------------------------**/
/*.ng-valid{
    border: thin solid #090;
}

.ng-invalid{
    border: thin solid #990000;
}*/

.search-container{
    width: 200px;
    height: 33px;
    border-radius: 12px;
}
/** ----------------------------------------------------------------------------
** Forms - Modal
-----------------------------------------------------------------------------**/
.modal-header{
    text-align: center;
    background-color: #0c1c8c ;    
    margin: 10px;
}

.modal-header h3{
    color: white;
    margin: 0px;
}

.modal-body {
    text-align: left;
    color: black;
    padding: 20px 40px;
}    

.modal-footer a{
    color: white;
}

.modal-add-form .form-group{
    width: 100%;
    margin: 8px 0px;
    float: left;
}

.textarea-addref-modal .form-group{    
    width: 100%;
    margin: 8px 0px;
}

.modal-add-form span, .textarea-addref-modal span{
    font-weight: bold;
}

.autor-row{
    border-bottom: 1px solid rgb(204, 204, 204);
    padding: 15px 0px;
    margin: 5px;
}
/** ----------------------------------------------------------------------------
** Content
-----------------------------------------------------------------------------**/
#main-col hr{
    margin-bottom: 0px;
    margin-top: 10px;
    border-color: #AAA;
}

.container-login{
    padding-left: 0 20% 0 20%
}

.reference-list{
    margin: 0px;
    padding: 0px;
}

.reference-list-container{
    list-style: none;    
}


.reference-list-container a:focus{
    text-decoration: none !important;    
}

.reference-list-item{
    border-bottom: 1px dotted #AAA;
    color: black;
    padding: 2px 10px;
}

.reference-list-container:hover{    
    background-color: #E8E8E8;
}

.reference-list-container a:hover{
    text-decoration: none;
}

.dropdown-menu {
    background-color: #F5F5F5;
}

.padding-tab{
    padding-top: 22px !important; 
    padding-right: 15px !important;
}

.padding-tab-left{
    padding-left: 15px;
}
.container-groups .nav-tabs{
    width: 56.2%;
}

.x-butrom:hover{
    color: red;
    cursor: pointer;
}

.alert-home{
    background-color: rgba(91, 192, 222, 0.25);
    border: rgba(91, 192, 222, 0.73) 1px solid;
    border-radius: 30px;
    height: 40px;
    margin: 3px 0px;
}

.alert-home p{
    color: black;
    line-height: 40px;
    padding: 0px 15px;
    cursor: default;
}

.alert-home a{
    text-decoration: none;
    display: block;
}

.reference-list{
    list-style: none;
}
/** ----------------------------------------------------------------------------
** Content - Details
-----------------------------------------------------------------------------**/
.content-details{
    margin-top: 55px;
    padding: 0 15px;
}

.content-details p{
    text-align: justify;
    border-bottom: 1px dotted #AAA;
}

.content-details span, .content-details label{
    font-weight: bold;
    color: #0c1c8c ;
}

.content-details ul{
    border-bottom: 1px dotted #AAA;
}

.details-options{
    position: fixed;
    display: block;
    width: 100%;
    padding: 5px;
    color: #0c1c8c;
    background-color: #E8E8E8;
    border-color: #ddd;
}

#dropdown-save-list span{
    color: #0c1c8c;
}

#dropdown-save-list p{
    border: none;
    margin: 0;
}

#upload-container{
    border-top: 1px dotted rgb(170, 170, 170);
    padding: 5px;
    border-bottom: 1px dotted rgb(170, 170, 170);
    text-align: center;
}

#NombreArchivo { 
border: solid 1px red; 
font-size:10px; 
font-family:tahoma; 
width:300px;
height:21px;
position:absolute;
margin-top:5.5px;}
input.file {
height:34px;
margin-top:5px;
width:399px;
position: absolute;
text-align: right;
-moz-opacity:0 ;
opacity: 0;
filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
z-index: 2;}
/** ----------------------------------------------------------------------------
** Content - Comments
-----------------------------------------------------------------------------**/
.comment-container{
        margin-top: 5px;        
}

.comment-autor{
    display: inline-block;
    background-color: rgba(12, 28, 140, 0.68);;
    /*border: 1px solid #0c1c8c;*/
    padding: 3px;
    margin-bottom: 0px;
    border-radius: 5px 0px 5px 0px;
    border-bottom: none;
    color: white;
}

.comment-content{    
    padding: 0px 0px 6px 5px;
    color: black;    
    /*border-radius: 0px 5px 0px 5px;*/
}

.comment-container{
    /* border-radius: 5px; */
    border-radius: 5px 0px 5px 0px;
}

.comment-container:nth-child(2n+1){
    background-color: rgba(113, 227, 115, 0.3);        
} 

.comment-container:nth-child(2n){
    background-color: rgba(91, 192, 222, 0.3);
    /*border: 1px solid rgb(91, 192, 222);*/
} 

/* Modal show document */
.pdfobject-container { height: 500px;}
.pdfobject { border: 1px solid #666; }

/** ----------------------------------------------------------------------------
** Content - Social
-----------------------------------------------------------------------------**/
.social-container a{
    cursor: pointer;
}

